* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Poppins-Regular.ttf);
  }

  :root {
    --primary: #D2884F;
    --secondary: #008AA9; 
    --blue: #44BFDE; 
    --white: white; 
    --blueOpacity: rgba(16, 165, 191, 0.3); 

  }

  body{
    font-family: 'Poppins';
  }

  .header{
    margin: 60px ;
  }

  .navbar {
    width: 100%;
    text-align: end;
   
  }

  /* Navbar links */
  .navbar a {
    /* float: left; */
    text-align: center;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 15px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover,
  .navbar a.active{
    color: var(--primary);
  }

  .section{
    margin: 100px 60px 0px 60px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }

  .welcome{
    color: var(--blue);
  }

  .article h1{
    color: var(--secondary);
  }

  .article h1 span{
    color: var(--primary);
  }

  .article p{
    max-width: 500px;
  }

  .ctaButtons{
    margin: 0px 60px;
  }

  input{
    border-radius: 5px;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight:lighter;
    border:2px solid var(--secondary) ;
  }

  .hire{
    background-color: var(--secondary);
    box-shadow: #008AA9;
    color: var(--white);
    margin-right: 10px;
    box-shadow: 0px 4px 2px 1px var(--blueOpacity);
  }

  .see{
    background-color: var(--white);
    box-shadow: #008AA9;
    color: var(--secondary);
    
  }

  .section img{
    height: 300px;
    width: 300px;
  }
  
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 600px) {
    .section img{
      height: 200px;
      width: 200px;
      margin-top: 15px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
    .section{
      flex-direction: column;
    }
   .see{
      margin-top: 15px;
    }
    .section img{
      margin-top: 15px;
    }
  }